body {
    font-family: 'Source Sans Pro', sans-serif;
}       a
            {
                color: white;
                text-decoration: none;
            }
           

            #one1
            {
                width: 100%;
                height: 700px;
                position: relative;
            }
            

.layer
{
    width: 1342.5px;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
   
    
    
}
            #two
            {
                position: absolute;
                top: 39%;
                width: 100%;
                text-align: center;
                font-size: 50px;
                color: white;
            }
            #three
            {
                position: absolute;
                top: 54%;
                width: 100%;
                text-align: center;
                font-size: 25px;
                color: white;
            }
            #four
            {
                border: 2px solid white;
                padding: 10px 30px 10px 30px;
                font-size: 20px;
                position: absolute;
                top: 67%;
                left: 585px;
                text-align: center;
                border-radius: 3px;
            }
            #one1 a:hover
            {
                background-color: white;
                color: black;
            }
            .one2
            {
                width: 100%;
                height: 50px;
                padding: 5px;
                background-color:#389F74;
                position: absolute;
                top: 693.5px;
                text-align: center;
                color: white;
                
    
            }
           
            #six
            {
                position: absolute;
                top: 654.5px;
                left: 200px;
                z-index: 1;
            }
            .one3
            {
                width: 100%;
                height: 300px;
               
                position: relative;
            }
            #hand
            {
                width: 50%;
                height: 200px;
                position: absolute;
                top: 45px;
                left: 0;
                padding: 40px 20px 10px 120px;
               text-align: center;
                background-color: white;
                margin-top: 10px;
            }
#hand a
{
    color: #389F74;
}


            #flag
            {
                width: 20%;
                height: 200px;
                position: absolute;
                top: 45px;
                right: 0;
                margin-right: 320px;
                margin-top: 40px;
                background-color: white;
                text-align: center;
                margin-top: 50px;
               
            }
#flag a
{
    color: #389F74;
}

#b
{
    width: 100%;
    height: 550px;
    background-color: #389F74;
    position: relative;
}
#b1
{
    width: 20%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
   margin: 210px 70px 200px 200px;
    text-align: center;
    color: white;
}
#b2
{
    width: 52%;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 75px 150px 10px 10px;
   
}
#o
{
    width: 100%;
    height: 670px;
    position: relative;
}
#c
{
    width: 50%;
    height: 630px;
    text-align: center;
    padding-top: 50px;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
   
}
#c a
{
    color: #389F74;
}
#d
{
    width: 50%;
    height: 630px;
    text-align: center;
    padding-top: 50px;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    right: 0;
}
#d a
{
    color: #389F74;
}
#e
{
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 70px;
    
}
#f
{
    width: 100%;
    height: 800px;
    background-color: #f5f5f5;
    position: relative;
}
#g
{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 40px;
}
#h
{
    width: 35%;
    height: 275px;
    position: absolute;
    padding-left: 60px;
    top: 200px;
    text-align: center;
}
#i
{
    width: 30%;
    height: 275px;
    position: absolute;
    top: 200px;
    left: 468px;
    text-align: center;
}
#j
{
     width: 35%;
    height: 275px;
    position: absolute;
    top: 200px;
    left: 810px;
    text-align: center;
}
#k
{
     width: 35%;
    height: 275px;
    position: absolute;
    top: 475px;
    padding-left: 60px;
    text-align: center;
}
#l
{
    width: 30%;
    height: 275px;
    position: absolute;
    top: 475px;
    left: 468px;
    text-align: center;
}
#m
{
     width: 35%;
    height: 275px;
    position: absolute;
    top: 475px;
    left: 810px;
    text-align: center;
}
#n
{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 750px;
    text-align: center;
}
#n a
{
    color: #389F74;
}


#p
{
    width: 100%;
    height: 700px;
    position: relative;
}
#q
{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 0px;
}

#r
{
    width: 20%;
    height: 475px;
    border: 1px solid #eae6e6;
    margin: 25px 0px 0px 170px;
    padding: 25px;
}
#r a
{
    color: black;
}
#s
{
    width: 20%;
    height: 310px;
    border: 1px solid #eae6e6;
    position: absolute;
    top: 75px;
    left: 517.5px;
    padding: 25px;
    
}
#s a
{
    color: black;
}
#t
{
    width: 20%;
    height: 287.5px;
    border: 1px solid #eae6e6;
    position: absolute;
    top: 462.5px;
    left: 517.5px;
    padding: 25px;
}
#t a
{
    color: black;
}

#u
{
   width: 20%;
    height: 475px;
    border: 1px solid #eae6e6;
     position: absolute;
    top: 75px;
    right: 200px; 
    overflow: scroll;
}

#v
{
    width: 100%;
    height: 100px;
    margin-top: 110px;
}
.v1
{
    float: left;
    width: 24.85%;
    height: 100px;
    margin-top: 25px;
    text-align: center;
}
#www
{
    width: 100%;
    height: 230px;
    background-color: #4a4a4a;
   
    position: relative;
}
.ww1
{
    float: left;
    width: 14.1%;
    height: 230px;
    text-align: left;
    font-size: 12px;
    color:  #389F74;
    margin-top: 7px;
}
.ww1 a:hover
{
    color: #ddd9d9;
}
#ww
{
    width: 100%;
    height: 130px;
    background-color: #4a4a4a;
    position: relative;
}
.w1
{
    width: 100%;
    height: 60px;
    margin-top: 0px;
   
    
}


#yy1
{
    width: 71.4%;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 190px;
    text-align: center;
}
.yy2
{
    width: 71.4%;
    height: 0px;
    margin-top: 0px;
    position: absolute;
    top: 225px;
    left: 185px;
    border: 1px solid #bcbcbc;
}


.fab {
  padding: 15px;
  font-size: 20px;
  width: 20px;  
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    background-color: white;
    border-radius: 50px;
    
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  background: white;
  color: #393939;
}

.fa-twitter {
  background: white;
  color: #393939;
}

.fa-google {
  background: white;
  color: #393939;
}

.fa-linkedin-in {
  background: white;
  color: #393939;
}


.w2
{
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
}
.ww2
{
    width: 19.84%;
    height: 60px;
    float: left;
    color: #ddd9d9;
    font-size: 13px;
}

#x1
{
    width: 27%;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 230px;
    color: #bcbcbc;
    font-size: 13px;
}
#x2
{
    width: 15%;
    height: 25px;
    position: absolute;
    top: 90px;
    left: 630px;
    text-align: center;
    font-size: 13px; 
}
#x2 a
{
    color: #bcbcbc;
}
#x2 a:hover
{
    color: #9a9a9a;
}
#x3
{
    width: 18%;
    height: 50px;
    position: absolute;
    top: 70px;
    right: 190px;
    color: #bcbcbc;
    font-size: 13px;
}

.nav{
    width: 100%;
    padding: 0;
    float: left;
    background-color: #2F3130;
    position: fixed;
    top: 0;
    z-index: 2;
}

.z{
    display: inline-flex;
    width: 10%;
   padding: 20px;
    font-size: 15px;
    text-align: center; 
}
.zz
{
    display: inline-flex;
    width: 10%;
    font-size: 15px;
    text-align: center; 
    padding: 0px 10px 10px 10px;
}

.z:hover{
    background-color: black;
}
.y
{
    float: right;
    width: 5%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 18px;
    padding-left: 10px;
    text-align: center;
}
.y:hover
{
    background-color: black;
}
.x
{
    padding: 20px;
    float: right;
    width: 5%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    background-color: #389F74;
    border-radius: 2px;
}
.x:hover
{
    background-color: rgba(108, 227, 178, 0.87);
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    padding: 12px 16px;
   z-index: 1;
}
.dropdown-content a
{
    color: #d4d1d1;
}
.dropdown-content a:hover
{
    color: white;
}
.dropdown:hover .dropdown-content 
{
   display: block;
}

